footer {
    background-image: url(../img/valorantFondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: $tam-px * 5;
    color: $color-bl;

    .redes {
        display: inline;
        text-decoration: none;

    }
}