header  {
    .nav {
        --bs-nav-link-color: $color-bl;
        --bs-nav-link-hover-color: grey;
    }

    h1 {
        font-family: valorant;
        text-align: left;
        color: red;
        font-weight: lighter;
        margin-left: $tam-px;
        font-size: $tam-px;
        margin-top: 20px;
    }
}