main    {
    .imgSinFondo {
        background-color: $color-ng;
    } 

    h2 {
        font-size: $tam-px - 10px;
    }

    .queEs {
        color: $color-bl;
        font-style: italic;
    }

    .jugaYa {
        text-align: center;
        font-family: $letra-importante;
        font-weight: bolder;
        font-size: 400%;
    }

    .textoIndex {
        background-color: $color-bl;
        border-radius: $tam-px - 40px;
        color: $color-ng;
    }

    .video {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%;
    }

    .videoResponsive {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    .card {
        color: $color-ng;
    }

    .formulario {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    
    .sageRes {
        width: $tam-px * 5;
    }
}