@import "variables", "header", "main", "footer";

@font-face {
    font-family: valorant;
    src: url(../font/Valorant\ Font.ttf);
}


body    {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0f1821;
    color: $color-bl;
}

h4 {
    text-align: $centro;
}

h5 {
    text-align: $centro;
}

h6 {
    text-align: $centro;
}