@import "variables", "header", "main", "footer", "fonts", "mediaQueries";


body    {
    text-align: justify;
    font-family: blueH;
    background-color: #0f1821;
    color: $color-bl;
    font-size: 18px;
}

h4 {
    text-align: $centro;
}

h5 {
    text-align: $centro;
}

h6 {
    text-align: $centro;
}